<!-- gerenciadorDeCurriculos/templates/index.html -->
{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Projeto Django</title>
    <link rel="stylesheet" href="{% static 'gerenciadorDeCurriculos/css/styles.css' %}">
</head>
<body>
    <h1>Bem-vindo ao meu projeto Django!</h1>
    <script src="{% static 'gerenciadorDeCurriculos/js/scripts.js' %}"></script>
</body>
</html>
