@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap');

body {
    background-color: #e0f7fa;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0px;
}

header {
    background-color: #00695c;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    width: 100%;
}

form h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #00695c;
}

.box {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    font-size: 1.2em;
    color: #004d40;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 10px 2px;
    border: 2px solid #80cbc4;
    border-radius: 5px;
    background-color: #f0f4c3;
}

input:focus, textarea:focus {
    border-color: #004d40;
    outline: none;
    background-color: #ffffff;
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#btEnter {
    background-color: #004d40;
    color: #ffffff;
    border: 2px solid #004d40;
}

#btEnter:hover {
    background-color: #ffffff;
    color: #004d40;
    border: 2px solid #004d40;
}

#btClear {
    background-color: #d32f2f;
    color: #ffffff;
    border: 2px solid #d32f2f;
}

#btClear:hover {
    background-color: #ffffff;
    color: #d32f2f;
    border: 2px solid #d32f2f;
}

footer {
    background-color: #00695c;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

footer a {
    color: #ffffff;
    text-decoration: underline;
}
